
.button-list-heading {
    font-size: 1.9vw;
}

.main-heading {
    text-decoration: underline;
    font-size: 2.5vw;
}

.note {
    font-size: 1.5vw;
    color: brown;
}

.frame-heading {
    font-size: 1.5vw;
    text-align: center;
    text-decoration: underline;
}

.frame-subheading {
    font-size: 1.4vw;
    text-align: center;
    text-decoration: underline;
    color: blue;
}

.frame-text {
    font-size: 1.3vw;
    text-align: left;
}

.frame-list-heading {
    font-size: 1.4vw;
    text-align: left;
    text-decoration: underline;
    color: black;
}

.left-side-label {
    display: inline-block;
    text-align: right;
}

.radio-label {
    vertical-align: middle;
}

.subheading {
    font-size: 1.9vw;
    color: brown;
}

.record {
    text-align: center;
    font-size: 1.25vw;
}

.quiz-table {
    font-size: 1.4vw; 
    width: 90%; 
    margin:0px auto;
}

.correct {color:green}

.error {
    color:red;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
    font-size:1vw;
}

.frame-width {
    width: 95%;
}

.reveal-button {
    width: fit-content;
    font-size: 1.1vw;
}

.intro-vid {
    margin-top: 5%;
    margin-bottom: 5%;
}