{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            <form action="/conversion_practice/{{type}}" method="post">
                <ul type="a" class="wrapper text-left mt-3" style="font-size: 1.7vw">
                    {% for item in range(4) %}
                        <li style="color:blue">
                            <div class="row">
                                <div class="col-3 wrapper text-right">
                                    <label for="answer{{item}}"><span>
                                        {% if checked %}
                                            {{practiceList[item][0]}} {{practiceList[item][2]}}
                                        {% else %}
                                            {{practiceList[item].value}} {{practiceList[item].units[2]}}
                                        {% endif %}
                                        </span>=</label>
                                </div>
                                <div class="col-5 wrapper text-left">
                                    <input name="answer{{item}}" type="text" value="{{answers[item]}}" size = "15"> {% if checked %}{{practiceList[item][3]}}{% else %}{{practiceList[item].units[3]}}{% endif %}
                                </div>
                            </div>
                        </li>
                        {% if messages %}
                            {% set message = messages[item] %}                                        
                            {% if message[0] != 'error' %}
                                <span class='{{message[0]}}' style="font-size: 14pt">{{message[1]}}</span>
                            {% else %}
                                <div class="btn-group dropright">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                        <span class='{{message[0]}}'>{{message[1]}}</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p class="dropdown-item" style="font-size: 20pt; color:red">{{practiceList[item][1]}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                            <hr>
                            {% if checked %}
                                <input name="given_units{{item}}" type="hidden" value="{{practiceList[item][2]}}">
                                <input name="desired_units{{item}}" type="hidden" value="{{practiceList[item][3]}}">
                                <input name="value{{item}}" type="hidden" value="{{practiceList[item][0]}}">
                                <input name="correct_answer{{item}}" type="hidden" value="{{practiceList[item][1]}}">
                            {% else %}
                                <input name="given_units{{item}}" type="hidden" value="{{practiceList[item].units[2]}}">
                                <input name="desired_units{{item}}" type="hidden" value="{{practiceList[item].units[3]}}">
                                <input name="value{{item}}" type="hidden" value="{{practiceList[item].value}}">
                                <input name="correct_answer{{item}}" type="hidden" value="{{practiceList[item].answer}}">
                            {% endif %}
                    {% endfor %}
                </ul>
                <div class="container wrapper text-center">
                    {% if numCorrect != 4 %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{type}}" role="button">New Conversions</a>
                        <input class="btn btn-success mb-3" type="submit" value="Check">
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% else %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{type}}" role="button">New Conversions</a>
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% endif %}

                </div>
            </form>
        {% endwith %}
    </div>
{% endblock %}  