{% extends "base.html" %}

{% block content %}
    <div class="container-sm wrapper text-center">
        {% with messages = get_flashed_messages(with_categories=True) %}
            <h1 class="main-heading">Complete the following metric conversions</h1>
            <p class="note">Do not include commas in your answers (e.g. type 1000 instead of 1,000).</p>
            <form action="/conversion_practice/{{page}}" method="post">
                <table class="table table-striped quiz-table">
                    <tbody>
                        {% for row in range((practiceList|length)//2) %}
                            <tr>
                                <td class="text-center">
                                    {{'abcde'[row]}}.
                                </td>
                                {% for column in range(2) %}
                                    <td class="col-2 text-right" style="color:blue">
                                        <label for="answer{{2*row+column}}">
                                            {{practiceList[2*row+column].value}} {{practiceList[2*row+column].units[2]}} =
                                        </label>
                                    </td>
                                    <td class="col-4 text-left">
                                        <input name="answer{{2*row+column}}" type="text" value="{{answers[2*row+column]}}" id="answer{{2*row+column}}">
                                        <label for="answer{{2*row+column}}" style="color:blue">
                                            {{practiceList[2*row+column].units[3]}}
                                        </label>
                                        {% if messages %}   <!--TODO: Check ChemSkills for better format for query, input box & feedback. -->
                                            {% set message = messages[2*row+column] %}                                        
                                            {% if message[0] != 'error' %}
                                                <span class='{{message[0]}}' style="font-size: 1.1vw">{{message[1]}}</span>
                                            {% else %}
                                                <div class="btn-group dropright">
                                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1.1vw; color:red">
                                                        <span class='{{message[0]}}'>{{message[1]}}</span>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <p class="dropdown-item" style="font-size: 1.5vw; color:red">{{practiceList[2*row+column].answer}}</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>

                <div class="container wrapper text-center">
                    {% if numCorrect != 10 %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{page}}" role="button">New Conversions</a>
                        <input class="btn btn-success mb-3" type="submit" value="Check">
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% else %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{page}}" role="button">New Conversions</a>
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% endif %}
                </div>
                {% if not session['first_try'] %}
                    <p class="record">First Attempt = {{session['first_score']}}/{{session['num_attempted']}}</p>
                    <p class="record">With Corrections = {{session['numCorrect']}}/{{session['num_attempted']}} ({{percentage}}%)</p>                    
                {% endif %}
            </form>
        {% endwith %}
    </div>
{% endblock %}  