{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        <h1>Complete the following metric conversions.</h1>
        <p class="note">Do not include commas in your answers (e.g. type 1000 instead of 1,000).</p>
            <form action="/conversion_practice/{{type}}" method="post">
                <ul type="a" class="wrapper text-left mt-3" style="font-size: 1.7vw">
                    {% for item in range(practiceList|length) %}
                        <li style="color:blue">
                            <div class="row">
                                <div class="col-3 wrapper text-right">
                                    <label for="answer{{item}}"><span>
                                        {{practiceList[item].value}} {{practiceList[item].units[2]}}
                                        </span>=</label>
                                </div>
                                <div class="col-5 wrapper text-left">
                                    <input name="answer{{item}}" type="text" value="{{answers[item]}}" size = "15"> {{practiceList[item].units[3]}}
                                </div>
                            </div>
                        </li>
                        {% if messages %}   <!--TODO: Check ChemSkills for better format for query, input box & feedback. -->
                            {% set message = messages[item] %}                                        
                            {% if message[0] != 'error' %}
                                <span class='{{message[0]}}' style="font-size: 14pt">{{message[1]}}</span>
                            {% else %}
                                <div class="btn-group dropright">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                        <span class='{{message[0]}}'>{{message[1]}}</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p class="dropdown-item" style="font-size: 20pt; color:red">{{practiceList[item].answer}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <hr>
                    {% endfor %}
                </ul>
                <div class="container wrapper text-center">
                    {% if numCorrect != 5 %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{type}}" role="button">New Conversions</a>
                        <input class="btn btn-success mb-3" type="submit" value="Check">
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% else %}
                        <a class="btn btn-info mb-3" href="/conversion_practice/{{type}}" role="button">New Conversions</a>
                        <a class="btn btn-primary mb-3" href="/" role="button">Main Menu</a>
                    {% endif %}
                </div>
                <p>Progress = {{session['numCorrect']}}/{{session['num_attempted']}} ({{percentage}}%)</p>
            </form>
        {% endwith %}
    </div>
{% endblock %}  