{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class = 'row'>
            <div class='col'>
                <h1 class='wrapper text-center'><u>Metric System Practice</u></h1>
                <div class="row">
                    <div class="col">
                        <div class = 'wrapper text-center'>
                            <h1><u>Tutorials</u></h1>
                            <h2>Select a topic:</h2>
                            <div class=btn-group-vertical>
                                <a href="why_metric/1" class="btn btn-success disabled" role="button">Why Use Metric?</a>
                                <a href="conversions/1" class="btn btn-success disabled" role="button">Converting Between Metric Units (Level 1)</a>
                                <a class="btn btn-success disabled" href="more_conversions/1" role="button">Metric Conversions (Level 2)</a>
                            </div>
                        </div>
                    </div>
                    <div class = 'col'>
                        <div class='wrapper text-center'>
                            <h1><u>Practice</u></h1>
                            <h2>Select an option:</h2>
                            <div class=btn-group-vertical>
                                <a href="conversion_practice/no_excuse" class="btn btn-primary" role="button">'No Excuse' Conversions</a>
                                <a href="conversion_practice/standard" class="btn btn-primary" role="button">kilo - milli Conversions</a>
                                <a href="conversion_practice/all" class="btn btn-primary" role="button">Mega - nano Conversions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  